name: outline
image:
  repository: outlinewiki/outline
  tag: 0.61.1
  pullPolicy: IfNotPresent
replicas: 1
env:
  # SLACK_KEY: "slack client id"
  # SLACK_SECRET: "slack client secret"
  # SMTP_HOST: "mail.yourdomain.tld"
  # SMTP_PORT: "465"
  # SMTP_USERNAME: ""
  # SMTP_PASSWORD: ""
  # SMTP_FROM_EMAIL: ""
  # SMTP_REPLY_EMAIL: ""
  # SMTP_SECURE: "true"
envSecrets:
secretKey: "generate_a_new_one" # MUST be replaced! Generate a hex-encoded 32-byte random key. You should use `openssl rand -hex 32`
utilsSecret: "generate_a_new_one" # Generate a unique random key. The format is not important but you could still use `openssl rand -hex 32`

ingress:
  host: outline.yourdomain.tld
  annotations: # set your custom ingress annotations here
    # cert-manager.io/cluster-issuer: "letsencrypt-staging"
    # kubernetes.io/tls-acme: "true"
  tls:
    enabled: false

redis:
  enabled: true
  architecture: "standalone"
  persistence:
    size: 2Gi
    storageClass: ""
  auth:
    enabled: false

postgresql:
  enabled: true
  architecture: "standalone"
  postgresqlDatabase: "outline"
  postgresqlUsername: "outline"
  postgresqlPassword: "change_me" # MUST be replaced with some secret password! Don't use this in production
  postgresqlPostgresPassword: "change_me" # MUST be replaced with some secret password! Don't use this in production
  persistence:
    enabled: true
    storageClass: ""
    size: 1Gi

minio:
  enabled: true
  disableWebUI: false
  ingress:
    enabled: true
    hostname: data.outline.yourdomain.tld
    tls: false
    annotations:
      # cert-manager.io/cluster-issuer: "letsencrypt-staging"
  mode: "standalone"
  defaultBuckets: "ol-data" # should not be "outline" because of https://github.com/outline/outline/issues/2068
  auth:
    rootUser: "change_me" # MUST be replaced with some custom generated access_key! Don't use this in production
    rootPassword: "change_me" # MUST be replaced with some custom generated secret! Don't use this in production
  persistence:
    enabled: true
    storageClass: ""
    size: 2Gi


